

  .zabi{
    margin-top: 2rem;
  }

  .hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-primary1) ;
    height: 100vh;
    width: 100vw;
    
  
   }
  
   .hero h1{
    color: var(--color-accent1);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 3rem;
    margin-inline: 20rem;
    margin-bottom: 1rem;
    width: 100%;
   }
  
   .hero p {
    color: var(--color-secondary1);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin-inline: 20rem;
   }

   .tickets{
    background-color: var(--color-primary2);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
   }

   .tickets h2{
    color: var(--color-accent1);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 3rem;
    margin-left: 5rem;
    margin-top: 2rem;
   }











   @media only screen and (max-width: 800px) {
  
    .hero{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-primary1) ;
      height: 100vh;
      width: 100vw;
      
    
     }
    
     .hero h1{
    
      font-size: 2rem;
      margin-left: 5rem;
      width: 60%;
      
      
     }

     .tickets h2{
      font-size: 2rem;
     }


    
     .hero p {
      
      font-size: 1rem;
      width: 65%;
      line-height: 2rem;
      margin-left: 5rem;
      
     }
    }