

  .zaba{
    margin-top: 9rem;
  }

  .hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-primary1) ;
    height: 50vh;

    
  
   }
  
   .hero h1{
    color: var(--color-accent1);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 3.8rem;
    margin-inline: 34rem;
    margin-bottom: 1rem;
    width: 100%;
   }
  

   .tickets{
    background-color: var(--color-primary2);
    display: flex;
    flex-direction: column;
    justify-content: center;

   
    
   }

   .tickets h2{
    color: var(--color-accent1);
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 3rem;
    margin-left: 10rem;
    margin-top: 2rem;
   }





.bookingfee{
  margin-left: 15rem;
  background-color: var(--color-primary2);
  margin-top: -4rem;
}



.hero1{
  background-color: var(--color-primary2);




 }






   @media only screen and (max-width: 800px) {
  
    .hero{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: var(--color-primary1) ;
      height: 100vh;
      width: 100vw;
      
    
     }
    
     .hero h1{
    
      font-size: 2rem;
      margin-left: 5rem;
      width: 60%;
      
      
     }

     .tickets h2{
      font-size: 2rem;
     }


    
     .hero p {
      
      font-size: 1rem;
      width: 65%;
      line-height: 2rem;
      margin-left: 5rem;
      
     }
    }

    .zaba{
      color: var(--color-accent1);
      font-family: var(--main-font);
      font-weight: bold;
      font-size: 3rem;

      margin-bottom: 1rem;
      width: 100%;
    }



.bookingfee1{
  margin-left: 15rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.bookingfee p{
margin-top: 0.6rem;
  color: aliceblue;
}


.fullBody{
  background-color: var(--color-primary2);
}

.hero1 button{
  margin-left: 10rem;
  margin-bottom: 6rem;
  gap: 5px;
  font-family: inter;
  font-size: 1.1rem;
  
  background-color:var(--color-accent1);;
  width: 14rem;
  height: 70px;
  
  
  
  color: var(--color-accent2);
  border: 1px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 4px;
          }





