
.container{
  background-color: black;
}


.page {
  padding-inline: 1rem;
  padding-top: 3rem;
  padding-bottom: 8rem;
  color: var(--secondary-300);
  margin-left: 20rem;
  margin-right: 10rem;
  font-size: 1rem;
  max-width: 100vw;
  background-color: black;
  

}
.page h1 {
  font-size: var(--type-h1);
  font-weight: 700;
margin-top:6rem;
  font-family: 'Rubik Mono One', sans-serif;
color: var(  --color-accent1);
}
.header {
  padding-bottom: var(--spacing-s);
  position: fixed;
  z-index: 100;
  background-color: black;
  width: 100vw;
}
.header label {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  z-index: 100;
  
}
.header select {
  font-size: 4rem;
  height: 3rem;
  border-radius: 6px;

  border: solid black 4px;
  background-color: black;
  z-index: 100;
  font-family: 'Ubuntu Mono', monospace;
}

.header h1 {
  margin-top: var(--padding4);
}

.actList {
  padding-bottom: var(--spacing-s);
  height: 100%;
  overflow-y: hidden;
  width: 100%;
  overflow-x: hidden;
  z-index: 0;
  margin-top: 20rem;
}
.actList ul {
  display: flex;
  gap: var(--padding3);
  flex-direction: column;
  width: 100rem;
}
.stageFilters {
  position: fixed;
  inset: auto 0 0;
  background-color: var(--primary-100);
  margin-bottom: 2rem;
}
.stageFilters ul {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(3, 1fr);
  max-width:300px;
}
.stageFilters button {
  width: 50%;
  border-radius: 20px;
  padding-block: 0.4rem;
  font-weight: 700;
  font-size: 1.5rem;

  
}
.Midgard, .Vanaheim , .Jotunheim  {
  background-color: var(--color-accent2);
  color: var(--primary-color2);
  border: 3px solid black;
  margin-right: 2rem;
  

}

.stageFilters .active {
  outline: 2px solid var(--color-accent1);
}



 .labeling{

  width: 9rem;
  margin-left: 47rem;


}


@media only screen and (min-width: 200px) {
  
  .page{
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: .5rem;
    }

    .page h1{
      font-size: 2rem;
    }
  .stageFilters {
    position: relative;
    inset: auto 0 0;
    background-color: var(--primary-100);
    margin-bottom: 3rem;
  }
  .stageFilters ul {
    display: flex;
    flex-direction: row;
    height: 5rem;
    
    align-items: center;

  }

  .stageFilters button {
    width: 100%;
    border-radius: 5px;
    padding: 0.4rem;
    font-weight: 700;
    font-size: var(--type-body);
  }

  .header select{
    font-size: 1.2rem;

  }
  .stageFilters ul {
  gap: .5rem;
  }

  .actList{
    margin-top: 8rem;
  }

}


@media only screen and (min-width: 600px) {
  .stageFilters button{
    font-size: 1.3rem;
  }

  .header select{
    font-size: 1.5rem;
    width: 100%;

  }

  .page h1 {
    font-size: 3rem;
  }

    .page{
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: .5rem;
    }
}