
.my-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 70%;
   
    align-items: center;
    justify-items: center;
    gap: 2rem;
    background-color: var(--color-accent1);
   box-sizing: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
   .image{
    width: 90%;
   } 
.logo,
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
font-size: var(--type-h5);
}
.list{
 
 
    justify-content: space-around;
    border-right:solid var(--color-accent2) 8px;
    padding-right: 2rem;
    height: auto;
}
.link{
    color: var(--color-secondary1);
}


.rectangle {
    background-color: var(--color-accent1);
}
.button {
box-sizing: border-box;
padding: 0.5rem 3rem; 
border:solid 8px var(--color-accent2);
background-color: var(--color-primary1);  
color: var(--color-secondary1);
font-size: var(--type-h5);
}
.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
}
@media (max-width: 767px) {
.my-class{
    grid-template-columns: 1fr;
}
  };
