.container {
  padding: var(--spacing-s);
  margin-bottom: var(--spacing-2xl);
  margin-top: var(--padding4);
  max-width: 1440px;
background-color: black;
  margin-right: auto;
  margin-top: 13rem;

  color: #000000;

}




.zektion{
  background-color: #8c65d0;
  margin-top: -8.2rem;

  height: 40rem;
  margin-left: -10rem;

}


.zektion > img {
  margin-left: 30rem;
  width: 44rem;
height: 38rem;
filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #4aff03) drop-shadow(0 0 30px #ff0099);



}

.container >.bandz{
  margin-left: 5rem;
}

.lineUp {
  font-size: var(--padding4);
  color: #4aff03;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  font-family: 'Rubik Mono One', sans-serif;

 }

.bandz {
  color: #000000;

 }

